body{
    background: linear-gradient(#003366, #40E0D0);/* cria um fundo em degradê */
    padding: 20px;
    margin: 48.5px; /* Adiciona espaçamento externo */


}


.box{
    background: linear-gradient(to right, rgb(225, 225, 255), rgb(224, 222, 255));
    background-size: 10px 50px;  /* Ajusta as dimensões do gradiente */
    border-radius: 30px;
    padding: 20px 5px;  /* 20px de padding nas partes superior e inferior, e 10px nas laterais */
    width: 550px;  /* Define a largura do formulário */
    margin: auto;  /* Centraliza o formulário na tela */
    position: relative;
    top: -85px;
}
img{/* Altera as propiedades da Logo*/
    width: 130px; /*Largura*/
    height: 145.5px; /*Altura*/
    position: relative;
    top: -70px;
    left: -50px;
    
}
.formulario{ 
    color: rgb(1, 10, 88);
    

}
fieldset{
    text-align: center;
    margin: 110px; /* Altera o Quadrado onde se encontra o Formulário*/
}