*{
        
    text-align: center; /* centralizei todos os elementos*/
    
}
h1{/* mudando o texto "login"*/
    font-size:40px;
    text-transform: uppercase;/*Coloca todo o texto "login" em letras maiúsculas*/
    font-family: tahoma;
    border: 4px solid rgb(0, 51, 102);
   background-color:rgb(0, 51, 102,0.8);
   border-radius: 10px ;
   padding: 20px 8px;
       
}   
.Email, .senha{
    font-size: 28px;
    margin-bottom: 1%;
    
}
.links{
    display: flex;
    justify-content:space-between   ;/*coloca um espaço entre eles*/
    align-items: center;/* alinhei-os lado a lado*/
    text-decoration:none;/* retira o sublinhado do link*/
    color:rgb(64, 224, 208,0.8);
    padding: 0 450px;/* cria uma margem para que as letras nao fique no limite da pagina*/
    margin-left: 16px;

}
button{ 
    color:rgb(0, 51, 102); ;

}
/*@media screen(max-width:580){
    .links{
        font-size: ;
    }*/

